:root {
    /*declaramos nuestras variables*/
    --naranja: #f90;
    --gris-oscuro: #27262b;
    --gris-claro: #ccc;
    --blanco: #fff;
    --negro: #000;
    --amarillo: #f3dd63;

}

/*   <<< RESET >>>   */
/* Selector universal, seleccciona todos los elementos del HTML y les aplica lo que escribamos como bordes, padding, margin etc. 
siempre va arriba de todo ( después del root) */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--gris-oscuro);
    background-image: url(sitio/images/pattern.jpg);

    /* Todo el sitio va a estar con sans-serif*/
    font-family : Arial, Helvetica, sans-serif;
}


.cabecera,
.contenido {
    max-width: 1200px;


    /* Márgen automático me centra los elementos en la pantalla*/
    margin-left: auto;
    margin-right: auto;
}

.cabecera{
   
    display: flex;

    /* Separa los elementos, cada uno en su esquina*/
    justify-content: space-between;
     /* Centrarlos verticalmente*/
    align-items: center;
}
.contenido{
    background-color: var(--blanco);
}
.cabecera-title{
    color: #f90;
    font-size: 24px;
}
/*    << BOTONERA >>    */
.nav{
    background-color: var(--naranja) ;
    font-family: 'Courier New', Courier, monospace;
    border-top: 100px;
    
}
.nav-lista {
    /* Elemina los puntitos de la lista*/
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 32px;

    padding: 12px;
    padding-left: 40px;
}
.nav-from{
    flex-grow: 1;
    text-align: right;
    
}
.nav-item{
    display: block;
    flex-grow: 1;
    
}
.nav-link{
    color: var(--blanco);
    display: block;
    font-weight: bold;
    text-decoration: none;
    border-right: 1px solid var(--amarillo);
    padding: 12px 12px;
}
.nav-link:hover{
    text-decoration:underline;
}

/*      IMAGEN      */
.imagen{
    text-align: center;
    margin-bottom: 32px;
}

/*     P R O D U C T O S    */
.productos{
    background-color: pink;
    display: grid;
    grid-template-columns: 330px 1fr;
    gap: 20px;
}
.izquierda{
    background-color: #c2e2e2;
    
}
.derecha{
    background-color: #ece3e1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.productos{
    background-color: #ece3e1;
}
.producto-title{
    margin-bottom: 12px;
    font-size: 20px;
}
.newsletter{
    background-image: linear-gradient(
        var(--blanco) 70%,
        var(--gris-claro)
    );
    margin-bottom: 250px;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid var(--gris-claro);

    /* Redondea las puntas */
    border-radius: 4px ;

    padding: 12px 32px;

    /*Ubico un elemento al lado del otro*/
    display: flex;
    align-items: center;
    

}
.newsletter-texto{
    
    margin-left: 24px;
}
.parrafo2{
    margin-left: 24px;
}
.newsletter-form{
    
    flex-grow: 1;
    text-align: right;
}
.newsletter-form input[type="submit"]{
    background: none;
    border: 0;

    font-weight: bold;

    /* Devolvemos "la manito"*/
    cursor: pointer;
}